body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FFF!important
}

.top-bar{
  padding: 0;
  box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08);
  z-index: 9999;
  background-color: #0E260E!important
}



.top-bar-right a{
  color: #FFF;
  padding: 15px 30px;
}

.brand-icon{
  width: auto;
  height: 30px
}

.home-header{
background: #333;
background-image: url('/assets/img/home-header-background.jpg');
padding-top: 5em;
background-size: cover
}

.home-header-logo{
  width: 150px;
  height: 150px
}

.ui.home-header-text-jumbo{
  font-size: 50px!important;
  font-weight: lighter!important
}

.home-header-text{
  color: #FFF!important;
  text-align: left;
  font-size: 20px!important;
  font-weight: lighter!important
}

.home-header-container{
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: left
}

.home-header-text--width-limited{
  max-width: 500px
}

.ui.home-grid-header{
  margin-top: 0
}

.contents {
  padding-left: 200px;
}


.footer{
  background-color: #0E260E;
  padding: 3em 1em;
}

.ui.footer-header {
  color: yellow
}

.ui.form.login-form{
  max-width: 350px;
  margin: 0 auto;
  text-align: left;
  background-color: #FFF;
  padding: 2em;
  border-radius: 5px;
}

.ui.header{
  font-weight: lighter
}

.ui.button.popcom-default{
  background-color: #0E260E;
  color: #FFF
}

.text--left{
  text-align: left
}

.text--right {
  text-align: right
}

.text--center{
  text-align: center
}

.login-background{
  background-image: url('/assets/img/login-background.jpg');
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

a {
  color: #0E260E;
  text-decoration: underline
}

a:hover{
  color: rgb(35, 83, 35);
  text-decoration: underline
}

.dashboard-contents{
  padding: 2em;
  margin-top: 5em;
}

.ui.dropdown .menu > .header.dropdown-header{
  font-size: smaller;
  color: rgba(0,0,0,0.3);
  text-transform: none
}

.ui.breadcrumb .icon.divider.light-divider {
  color: #FFF
}

/* Override table row style */
.ReactTable .rt-th, .ReactTable .rt-td{
  overflow: visible!important
}

.full-height{

}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#333;
  overflow-x: hidden;
}

.dashboard-menu-item{
  color: #FFF!important;
  text-align: left;
  padding: 10px!important;
  text-decoration: none;
  padding-left: 20px!important
}

.dashboard-menu-item:hover{
  cursor: pointer;
}

.dashboard-menu-item-header{
  color: #FFF!important;
  text-align: left;
  padding: 10px!important;
  text-decoration: none;
  padding-left: 20px!important;
  opacity: 0.5
}

.dashboard-menu-item-submenu{
  color: #FFF!important;
  text-align: left;
  padding: 10px!important;
  text-decoration: none;
  padding-left: 20px!important;
  background-color: #333
}

.dashboard-menu-item-submenu:hover{
  background-color: rgb(58, 58, 58);
  text-decoration: none
}

.dashboard-menu-item:hover{
  background-color: rgb(58, 58, 58);
  text-decoration: none
}

.dashboard-menu-item,  .dashboard-menu-item .icon{
  color: #FFF!important
}

.dashboard-menu-item .dashboard-menu-icon{
  margin-right: 10px!important;

}

.icon.dashboard-menu-icon{
  color: #FFF!important;
  margin-right: 10px!important;
}


.contents-login{
  padding-left: 0!important
}


.content-spacer--small{
  height: 3rem;
  width: 100%
}

@media only screen and (max-width: 767px) {
  .desktop {
    display: none!important;
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile {
    display: none!important;
    visibility: hidden;
  }
}

@media only screen and (min-width: 992px) and (max-width: 2000px) {
  .mobile {
    display: none!important;
    visibility: hidden;
  }
}
